# Fichiers Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env/
.venv/

# Dossier virtualenv
venv/

# Configurations IDE
.idea/
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Misc
*.log
*.csv